html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: black;
}
.color {
  color: #707070;
}
.navegador {
  position: absolute;
  z-index: 13;
}
.carousel-principal {
  position: relative;
}
hr {
  color: aliceblue;
}
.info .icon {
  background-color: skyblue;
}
.card img {
  width: 100%;
  height: 150px;
}
.card {
  background-color: skyblue;
}
.button {
  background-color: skyblue;
}
footer {
  background-color: skyblue;
}

@media (max-width: 575.98px) {
  .quienes-somos {
    display: none;
  }
}
